
  {% if not _nc %}{{ "Name:" | chalk("bold") | safe }}{% else %}Name:{% endif %} {{ name | safe }}
  {% if not _nc %}{{ "Bio:" | chalk("bold") | safe }}{% else %}Bio:{% endif %}  {{description | wrap(50) | nlsp(8) | safe}}{% if picture %}
  {% if not _nc %}{{ "Pic:" | chalk("bold") | safe }}{% else %}Pic:{% endif %}  {{ picture | safe }}{% endif %}
{% if links %}
  {% if not _nc %}{{ "Links:" | chalk("bold") | safe }}{% else %}Links:{% endif %}{% for this in links %}
    {{this | linksplit | safe}}{% endfor %}{% endif %}{#!! ! !!#}{% if cards %}
{% for this in cards %}{% if not this.type %}{% if this.title %}{% if this.text %}
  {% if not _nc %}{{ this.title | chalk("underline") | safe }}{% else %}Title: {{ this.title | safe }}{% endif %}
  {{ this.text | nlsp(2) | safe }}{# title+text cards w/o types => underlined title, then text #}
{% endif %}{% endif %}{% endif %}{% endfor %}{% else %}
{% endif %}{#!! ! !!#}{{"\n"}}